
@model DAWEBJollybee.Models.KHACHHANG
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Edit profile</title>

    <meta name="description" content="" />
    <link rel="icon" type="image/x-icon" href="~/Assets/Admin/Login/img/favicon/jollibee1.ico" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <link rel="stylesheet" href="~/Assets/User/Login/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="~/Assets/User/Login/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/Assets/User/Login/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/Assets/User/Login/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/Assets/User/Login/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="~/Assets/User/Login/vendor/css/pages/page-auth.css" />

    <!-- Helpers -->
    <script src="~/Assets/User/Login/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="~/Assets/User/Login/js/config.js"></script>
</head>

<body>
    <!-- Content -->

    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner">
                <!-- Register Card -->
                <div class="card">
                    <div class="card-body">
                        <!-- Logo -->
                        <div class="app-brand justify-content-center">
                            <span class="app-brand-text demo text-body fw-bold">Edit Profile</span>
                        </div>
                        @*<form id="formAuthentication" class="mb-3" action="index.html" method="POST">*@
                        @using (Html.BeginForm())
                        {
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                @Html.TextBoxFor(m => m.USERNAME, new { @class = "form-control", id = "email", name = "email-username", @readonly = "readonly", @placeholder = "Enter your username", autofocus = "autofocus" })
                                <div>@Html.ValidationMessageFor(m => m.USERNAME, "", new { @class = "text-danger" })</div>
                            </div>
                            <div class="mb-3">
                                <label for="username" class="form-label">FullName</label>
                                @Html.TextBoxFor(m => m.HOTEN, new { @class = "form-control", id = "email", name = "email-username", @placeholder = "Enter your name", autofocus = "autofocus" })
                                <div>@Html.ValidationMessageFor(m => m.HOTEN, "", new { @class = "text-danger" })</div>
                            </div>
                            <div class="mb-3">
                                <label for="username" class="form-label">Email</label>
                                @Html.TextBoxFor(m => m.EMAIL, new { @class = "form-control", id = "email", name = "email-username", @placeholder = "Enter your email", autofocus = "autofocus" })
                                <div>@Html.ValidationMessageFor(m => m.EMAIL, "", new { @class = "text-danger" })</div>
                            </div>
                            <div class="mb-3">
                                <label for="username" class="form-label">Phone Number</label>
                                @Html.TextBoxFor(m => m.SDT, new { @class = "form-control", id = "email", name = "email-username", @placeholder = "Enter your phone number", autofocus = "autofocus" })
                                <div>@Html.ValidationMessageFor(m => m.SDT, "", new { @class = "text-danger" })</div>
                            </div>
                            <div class="mb-3">
                                <label for="username" class="form-label">Address</label>
                                @Html.TextAreaFor(m => m.DIACHI, new { @class = "form-control", id = "email", name = "email-username", @placeholder = "Enter your address", autofocus = "autofocus" })
                                <div>@Html.ValidationMessageFor(m => m.DIACHI, "", new { @class = "text-danger" })</div>
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="terms-conditions" name="terms" />
                                    <label class="form-check-label" for="terms-conditions">
                                        I sure my information exactly
                                    </label>
                                </div>
                            </div>
                            <button class="btn btn-primary d-grid w-100" type="submit">Next to Log in</button>
                        }
                    </div>
                </div>
                <!-- Register Card -->
            </div>
        </div>
    </div>
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->

    <script src="~/Assets/User/Login/vendor/libs/jquery/jquery.js"></script>
    <script src="~/Assets/User/Login/vendor/libs/popper/popper.js"></script>
    <script src="~/Assets/User/Login/vendor/js/bootstrap.js"></script>
    <script src="~/Assets/User/Login/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/Assets/User/Login/vendor/js/menu.js"></script>

    <!-- endbuild -->
    <!-- Vendors JS -->
    <!-- Main JS -->
    <script src="~/Assets/User/Login/vendor/js/main.js"></script>

    <!-- Page JS -->
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>