@model DAWEBJollybee.Models.DONHANG

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/AdminHome_Layout.cshtml";
}
<div class="section-header" style="justify-content:space-between;margin-bottom:10px;">
    <h1>Delete Order</h1>
    <div style="display: flex; align-items: center; gap: 10px;">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div>
                <input type="submit" value="Delete Order" style="width:130px;" class="btn btn-danger" />
            </div>
        }       
        <a href="/Admin/Donhang/Index" style="text-decoration: none; font-size: 16px;">Back to List Order <i class="fas fa-arrow-alt-circle-right" style="font-size: 16px;"></i></a>
    </div> 
</div>
<div class="section-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h4>Thông tin đơn hàng</h4>
                        </div>
                        <div class="card-body">
                            <div class="media-body">
                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.IDDH):
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.IDDH)
                                    </dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayName("Tên khách hàng"):
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.KHACHHANG.HOTEN)
                                    </dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayName("Số điện thoại"):
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.KHACHHANG.SDT)
                                    </dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayName("Địa chỉ"):
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.KHACHHANG.DIACHI)
                                    </dd>
                                </dl>
                                <dl class="dl-horizontal" style="gap:5px;">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.PAYMENTMETHOD.METHODNAME):
                                    </dt>

                                    <dd style="color:forestgreen;">
                                        @Html.DisplayFor(model => model.PAYMENTMETHOD.METHODNAME)
                                    </dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.TONGTIEN):
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.TONGTIEN) đ
                                    </dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.PHISHIP):
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.PHISHIP) đ
                                    </dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.KHUYENMAI):
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.KHUYENMAI) đ
                                    </dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.THANHTIEN):
                                    </dt>

                                    <dd style="color: red; font-weight: 600">
                                        @Html.DisplayFor(model => model.THANHTIEN) đ
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h4>Chi tiết đơn hàng</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled list-unstyled-border">
                                @{
                                    List<DAWEBJollybee.Models.CHITIETDONHANG> dh = ViewBag.Orders;
                                    for (int i = 0; i < dh.Count; i++)
                                    {
                                        <li class="media">
                                            <img class="mr-3 rounded" width="65" src="@dh[i].SANPHAM.HINHANH" alt="product">
                                            <div class="media-body">
                                                <div class="float-right"><div class="font-weight-600 text-muted text-small">x @dh[i].SOLUONG</div></div>
                                                <div class="media-title">@dh[i].SANPHAM.TENSP</div>
                                                <div class="mt-1">
                                                    <div class="budget-price">
                                                        <div class="budget-price-label" style="margin-left:0;">Đơn giá: @Html.FormatValue(dh[i].SANPHAM.DONGIA, "{0:#,####}") đ</div>
                                                    </div>
                                                    <div class="budget-price">
                                                        <div class="budget-price-label" style="color: #00cc44; margin-left: 0;"> Thành tiền: @Html.FormatValue(dh[i].GIATIEN, "{0:#,####}") đ</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                        <div class="card-footer pt-3 d-flex justify-content-center">
                            <div class="budget-price justify-content-center">
                                <div class="budget-price-label" style="font-size:14px;">Tổng tiền:</div>
                                <div class="budget-price-label" style="font-size:14px;color:red;">@Html.DisplayFor(model => model.TONGTIEN) đ</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h4>Trạng thái đơn hàng</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled list-unstyled-border">
                                @{
                                    List<DAWEBJollybee.Models.TRANGTHAIDH> s = ViewBag.State;
                                    for (int i = 0; i < s.Count; i++)
                                    {
                                        <li class="media">
                                            <div class="media-title" style="margin-right:10px;">@(i+1).</div>
                                            <div class="media-body">
                                                <div class="float-right"><div class="font-weight-600 text-muted text-small">@Html.FormatValue(s[i].StateTime, "{0:dd/MM/yyyy HH:mm}")</div></div>
                                                @if (i == ((s.Count) - 1) && s[i].CurrentState == "Hủy đơn hàng")
                                                {
                                                    <div class="media-title" style="color:red;">@s[i].CurrentState</div>
                                                }
                                                else if (i == (s.Count) - 1)
                                                {
                                                    <div class="media-title" style="color:deepskyblue;">@s[i].CurrentState</div>
                                                }

                                                else
                                                {
                                                    <div class="media-title">@s[i].CurrentState</div>
                                                }
                                            </div>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <style>
            dl {
                display: flex;
                flex-direction: row;
                margin-bottom: 10px;
                gap: 10px;
            }
        </style>
       @* <h2>Delete</h2>

        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>DONHANG</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.IDDH)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IDDH)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IDKH)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IDKH)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NGAYDAT)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NGAYDAT)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IDPAYMENT)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IDPAYMENT)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TONGTIEN)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TONGTIEN)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PHISHIP)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PHISHIP)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.KHUYENMAI)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.KHUYENMAI)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.THANHTIEN)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.THANHTIEN)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastestState)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastestState)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.HOANTAT)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HOANTAT)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.HUY)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HUY)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DeleteOrder)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DeleteOrder)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
*@