@model DAWEBJollybee.Models.HINHANHSP

@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/Assets/Admin/dist/assets/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/Admin/dist/assets/modules/fontawesome/css/all.min.css">

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="~/Assets/Admin/dist/assets/modules/prism/prism.css">

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/Assets/Admin/dist/assets/css/style.css">
    <link rel="stylesheet" href="~/Assets/Admin/dist/assets/css/components.css">
    <!-- Start GA -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>

</head>
<body>
    <div class="modal-dialog m-0" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="font-family: sans-serif;">Xóa hình ảnh sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <p style="font-weight: 600;margin-bottom: 5px;color: red;padding-top: 10px;padding-left: 25px;font-size: 16px;">Bạn có muốn xóa không?</p>
            <div class="modal-body" style="padding-top: 10px; padding-bottom: 10px; justify-content: space-around; flex-direction: row; display: flex; ">
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.IDHA):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.IDHA)
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayName("Tên sản phẩm"):
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SANPHAM.TENSP)
                        </dd>
                    </dl>
                    </div>
                    <div>
                    <dl class="dl-horizontal" style="flex-direction: column; align-items: center;">
                        <dt style="width:max-content;">
                            @Html.DisplayNameFor(model => model.IMAGE):
                        </dt>
                        <dd>              
                            <img id="preview" src="@Model.IMAGE" style="max-width: 100px; max-height: 100px; margin-bottom: 15px; margin-top: 12px; display: block;" />
                        </dd>
                    </dl>
                </div>
            </div>
            @using (Html.BeginForm("DeleteImg", "SanPham", FormMethod.Post, new { id = "deleteForm" }))
            {

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button onclick="saveFormData()" class="btn btn-primary btn-del" style="background-color: #fc544b; border: solid 1px #fc544b; box-shadow: 0 2px 6px #fd9b96; ">Delete</button>
                </div>
            }
            <style>
                .btn-primary.btn-del:active, .btn-primary.btn-del:focus, .btn-primary.btn-del:focus:active, .btn-primary.btn-del:hover {
                    background-color: #ff3333 !important;
                    box-shadow: 0 2px 6px #ff8080 !important;
                }

                dl {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 10px;
                    gap: 10px;
                }
            </style>
        </div>
    </div>
</body>
</html>
