@model DAWEBJollybee.Models.SANPHAM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/AdminHome_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Forms &rsaquo; Form Validation &mdash; Stisla</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/Assets/Admin/dist/assets/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/Admin/dist/assets/modules/fontawesome/css/all.min.css">

    <!-- CSS Libraries -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/Assets/Admin/dist/assets/css/style.css">
    <link rel="stylesheet" href="~/Assets/Admin/dist/assets/css/components.css">
    <!-- Start GA -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-94034622-3');
    </script>
    <!-- /END GA -->
</head>

<body>
    <div class="section-header">
        <h1>Edit detail product</h1>
    </div>
    <div class="section-body">
        <div class="card">
            @using (Html.BeginForm("Edit", "SanPham", FormMethod.Post, htmlAttributes: new { @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="card-header" style="justify-content:space-between;">
                    <h4>Sửa sản phẩm</h4>
                    <div>
                        <a href="/Admin/SanPham/Index" style="text-decoration: none; font-size: 16px;">Back to List <i class="fas fa-arrow-alt-circle-right" style="font-size: 16px;"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.IDSP, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.IDSP, new { htmlAttributes = new { @class = "form-control text-center", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.IDSP, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IDLSP, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @* @Html.EditorFor(model => model.IDLSP, new { htmlAttributes = new { @class = "form-control" } })*@
                                @Html.DropDownListFor(model => model.IDLSP, null, "Chọn danh mục", new { @class = "form-control", style = "width: 452px;text-align: center; height: 42px;" })
                                @Html.ValidationMessageFor(model => model.IDLSP, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.HINHANH, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <img id="preview" src="@Model.HINHANH" style="max-width: 200px; max-height: 200px; margin-bottom: 15px;margin-top: 12px; display: block;" />
                                <input type="file" name="fImage" class="image-input" onchange="previewImage(this);" />
                                @Html.ValidationMessageFor(model => model.HINHANH, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <script>
                            function previewImage(input) {
                                if (input.files && input.files[0]) {
                                    var reader = new FileReader();
                                    reader.onload = function (e) {
                                        var previewElement = document.getElementById('preview');
                                        previewElement.style.display = 'block';
                                        previewElement.style.marginBottom = '15px';
                                        previewElement.setAttribute('src', e.target.result);
                                    };
                                    reader.readAsDataURL(input.files[0]);
                                }
                            }
                            function resetImage() {
                                var previewElement = document.getElementById('preview');
                                previewElement.setAttribute('src', '');
                            }
                        </script>
                        <div class="form-group">
                            @Html.LabelFor(model => model.TENSP, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.TENSP, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TENSP, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MOTA, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                               @* @Html.EditorFor(model => model.MOTA, new { htmlAttributes = new { @class = "form-control" } })*@
                                @Html.TextAreaFor(model => model.MOTA, new { @class = "form-control", style = "heigth:20px;" })
                                @Html.ValidationMessageFor(model => model.MOTA, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DONGIA, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.DONGIA, new { htmlAttributes = new { @class = "form-control text-center", @min = "1000", type = "number", @step = "1000"} })
                                @Html.ValidationMessageFor(model => model.DONGIA, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <input type="submit" value="Save" style="width:150px;" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
    <style>
        .form-group {
            display: flex;
            align-items: center;
        }
    </style>
    <!-- General JS Scripts -->
    <script src="~/Assets/Admin/dist/assets/modules/jquery.min.js"></script>
    <script src="~/Assets/Admin/dist/assets/modules/popper.js"></script>
    <script src="~/Assets/Admin/dist/assets/modules/tooltip.js"></script>
    <script src="~/Assets/Admin/dist/assets/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Assets/Admin/dist/assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="~/Assets/Admin/dist/assets/modules/moment.min.js"></script>
    <script src="~/Assets/Admin/dist/assets/js/stisla.js"></script>

    <!-- JS Libraies -->
    <!-- Page Specific JS File -->
    <!-- Template JS File -->
    <script src="~/Assets/Admin/dist/assets/js/scripts.js"></script>
    <script src="~/Assets/Admin/dist/assets/js/custom.js"></script>
</body>
</html>
